@font-face {
	font-family: montSerratRegular;
	src: url(../font/Montserrat-Regular.otf);
}

@font-face {
	font-family: montSerratThin;
	src: url(../font/Montserrat-Thin.otf);
}

@font-face {
	font-family: montSerratBold;
	src: url(../font/Montserrat-Bold.otf);
}

@font-face {
	font-family: montSerratExtraBold;
	src: url(../font/Montserrat-ExtraBold.otf);
}

$primary-color: rgb(48, 247, 230);
$secondary-color: white;

* {
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: montSerratRegular;
}

body {
	width: 100vw;
	overflow-x: hidden;
	background-color: #050505;
	background-size: contain;
	max-width: 100vw;
}

html {
	scroll-behavior: smooth;
}

/* MENU DE NAVEGAÇÃO */

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navegation {
	position: fixed;
	bottom: 30px;
	height: 60px;
	width: 330px;
	color: $secondary-color;
	display: flex;
	justify-content: space-around;
	gap: 0px;
	align-items: center;
	list-style: none;
	border-radius: 40px;
	z-index: 50;
<<<<<<< HEAD
	background: rgba(0, 0, 0, 0.4);
=======
	background: linear-gradient(to right, rgba(8, 8, 8, 0.8), rgba(7, 17, 9, 0.5));
>>>>>>> 71c03f974a01500b63e9d747cfc66b1e75cb6058
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.iconNav {
	width: 4em;
	text-align: center;
}

.navegation i {
	transition: 0.4s;
	font-size: 25px;
	color: $primary-color;
}

#user {
	font-size: 32px;
}

.navegation a {
	color: $secondary-color;
	text-decoration: none;
	width: 100%;
	transition: 0.2s;
}

.navegation a:focus {
	opacity: 0.7;
}

/* ICONES LATERAIS */
.sideIcons {
	position: absolute;
	top: 500px;
	left: 10%;
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.sideIcons i {
	font-size: 30px;
	color: $primary-color;
}

/* Footer */
footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;
	margin-bottom: 100px;
	gap: 5px;
}

footer i {
	font-size: 30px;
	color: $primary-color;
}

.imgFooter {
	display: flex;
	margin-top: 20px;
	gap: 10px;
}

/* Pagina de agradecimento */
.div-obrigado {
	display: flex;
	justify-content: center;
	height: 70vh;
	align-items: center;
	flex-direction: column;
}

.div-obrigado h1 {
	text-align: center;
}

.div-obrigado a {
	text-decoration: none;
	background-color: $primary-color;
	border: 1px solid $primary-color;
	color: black;
	width: 200px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	border-radius: 5px;
}

// IMPORTS
@import "./pages/home.scss";
@import "./pages/about.scss";
@import "./pages/projects.scss";
@import "./pages/contact.scss";
@import "./pages/extras/mediaQuery.scss";
