@font-face {
    font-family: montSerratRegular;
    src: url(./font/Montserrat-Regular.otf);
}
@font-face {
    font-family: montSerratThin;
    src: url(./font/Montserrat-Thin.otf);
}
@font-face {
    font-family: montSerratBold;
    src: url(./font/Montserrat-Bold.otf);
}
@font-face {
    font-family: montSerratExtraBold;
    src: url(./font/Montserrat-ExtraBold.otf);
}


* {
    margin: 0;
    padding: 0;
    z-index: 0;
    font-family: montSerratRegular;
}

body{
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(10, 10, 10);
    background-size: contain;
    max-width: 100vw;
}

html{
    scroll-behavior: smooth;
}

/* MENU DE NAVEGAÇÃO */

nav{
display: flex;
justify-content: center;
align-items: center;
}


.navegation{
position: fixed;
bottom: 30px;
height: 60px;
width: 330px;
color: white;
display: flex;
justify-content: space-around;
gap: 0px;
align-items: center;
list-style: none;
border-radius: 40px;
z-index: 50;
background: linear-gradient(to right, rgba(22, 22, 22, 0.8), rgba(1, 17, 3, 0.5));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}

.iconNav{
width: 4em;
text-align: center;
}

.User a img{
    opacity: 0.8;
}

.navegation a{
color: white;
text-decoration: none;
width: 100%;
}

.navegation img:hover{
opacity: 0.7;
}

.User img:hover{
opacity: 0.6;
}

        /* ASIDE */
.sideIcons{
    position: absolute;
    top: 500px;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.sideIcons img{
    width: 30px;
}

        /* CABEÇALHO */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;
}

h1{
    font-size: 40px;
    font-family: montSerratBold;
    font-weight: 100;
}

h1, p, header a{
    color: rgb(243, 239, 239);
    text-decoration: none;
}

h1, p {
    margin-top: 5px;
}

.pbold{
    font-size: 15px;
    margin-top: 60px;
}

.myWork{
    font-family: montSerratThin;
}

header .divButton {
    width: 390px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 20px;
}
header .divButton a{
    height: 15px;
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
}

.download{
    border: 1px solid rgba(16, 233, 63, 100);
}

.download:hover{
    background-color: rgba(16, 233, 63, 100);
    border-color: rgb(0, 0, 0);
    color: black;
}

.lets{
    background-color: rgba(16, 233, 63, 100);
    border-color: rgb(0, 0, 0);
    color: black;
}

.lets:hover{
    background-color: transparent;
    border: 1px solid rgba(16, 233, 63, 100);
    color: white;
}

.divImg {
    width: 450px;
    height: 600px;
    margin-top: 100px;
}

.divImg img{
    width: 100%;
    border-radius: 50% 50% 0 0;
    object-fit: contain;

}

        /* SOBRE MIM */
.aboutMe{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.h1AboutMe{
    margin-top: 50px;
}

.divImgAbout{
    width: 400px;
}

.divImgAbout img{
    width: 100%;
    border-radius: 40px;
}

.divAbout{
    display: flex;
    gap: 50px;
    margin-top: 60px;
}

.txtAndSkills p{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.skills{
    width: 400px;
    height: 250px;
    border: 1px solid rgba(16, 233, 63, 100);
    box-shadow: 2px 2px 5px rgba(16, 233, 63, 100);
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.mySkills{
    text-align: center;
    font-family: montSerratBold;
    margin-top: 10px;
    font-size: 22px;
}

.skills img{
    width: 40px;
}

.spanSkills{
    color: white;
    font-family: montSerratBold;
    margin-left: 20px;
}

.skillList{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    row-gap: 30px;
    margin-top: 25px;
    place-items: center;
}

.skillItem{
    color: white;
}

.skillItem img{
    width: 60px;
}

                /*Meus Projetos*/
.meusProjetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.h1-projetos{
    margin-bottom: 80px;
    margin-top: 100px;
}

.projeto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.projeto{
    width: 350px;
    height: 320px;
    border: 1px solid rgba(16, 233, 63, 100);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.texto-projeto{
    font-family: montSerratBold;
    margin-bottom: 20px;
}

.figure-projeto{
    margin: 20px;

}

.img-projeto{
    width: 100%;
    border-radius: 10px;
}

.div-botao-projeto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.botao-projeto{
    width: 150px;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #10e93f;
}

#botao-github{
    background-color: #10e93f;
}

.icon-git-projeto{
    width: 20px;
}

.botao-projeto:hover{
    background-color: #10e93f;
    color: black;
}

#botao-github:hover{
    background-color: transparent;
}

        /* CONTATO */
.section-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.section-contato h1{
    margin-top: 50px;
}

.divFormAside{
    display: flex;
    margin-top: 100px;
    gap: 200px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form > *{
    width: 500px;
    height: 60px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #10e93f;
    border-radius: 10px;
    color: white;
    font-size: 15px;

}

form input, form textarea{
    padding-left: 10px ;
    outline: none;
}

form textarea{
padding-top: 15px;
}

form input::placeholder, form textarea::placeholder{
    color: #10e93f;
}

form button{
    width: 200px;
    background-color: #10e93f;
    color: black;
    cursor: pointer;
}

.div-SocialMedia{
    width: 200px;
}

.socialMedia{
    background-color: #10e93f;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.socialMedia > *{
    color: rgb(0, 0, 0);
    font-family: montSerratRegular;
    margin-bottom: 5px;
    font-size: 15px;
}

.div-SocialMedia img{
    width: 30px;
}

.iconSocial{
    margin-top: 35px;
    margin-bottom: 15px;
}

.div-linkSocial{
    margin-top: 20px;
}

#linkSocial{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: montSerratBold;

}

        /* Footer */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

footer img{
    width: 30px;
}

.imgFooter{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

        /* Pagina de agradecimento */
.div-obrigado{
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    flex-direction: column;
}

.div-obrigado h1{
    text-align: center;
}

.div-obrigado a{
    text-decoration: none;
    background-color: #10e93f;
    border: 1px solid #10e93f;
    color: black;
    width: 200px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
}

.div-obrigado a:hover{
    background-color: transparent;
    border: 1px solid #10e93f;
    color: white;
}





@media (max-width: 1200px){
.projeto {
    width: 300px;
    height: 300px;
}

.projeto a{
    width: 125px;
}

}

@media (max-width: 1050px){
    .projeto {
        width: 250px;
        height: 250px;
    }
    
    .projeto a{
        width: 90px;
        height: 30px;
        padding: 5px;
    }

    .divFormAside{
        flex-direction: column-reverse;
    }

    .div-SocialMedia{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    }



@media (max-width: 900px) {
.divAbout{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projeto-container{
    flex-direction: column;
}

.projeto{
    width: 400px;
    height: 340px;
}




}

@media (max-width: 700px) {
 /*About Me*/

.divImg {
    width: 80%;
}

.sideIcons{
    left: 15px;
}

.sideIcons img{
    width: 25px;
}

}

@media (max-width: 600px) {
.divFormAside{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 120px;
}

.divFormAside form{
    width: 85%;
    align-items: center;
}

.divFormAside input, textarea{
    width: 100%;
}

.divFormAside button{
    width: 50%;
    height: 50px;
}

.div-SocialMedia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



}

@media (max-width: 500px) {
/*About Me*/
.aboutMe{
    margin-top: 60px;
}

.txtAndSkills{
    width: 85%;
}

.txtAndSkills P{
    width: 100%;
}

.sideIcons{
    display: none;
}

header {
    height: 700px;
}

header .divButton{
    width: 300px;
}

.divButton a{
    font-size: 12px;
}

.skills{
    box-shadow: none;
    margin-top: 70px;
    width: 100%;
}

.divImgAbout{
    width: 85%;
}

  /*Meus Projetos*/

.projeto-container{
    width: 100%;
}

.projeto{
    width: 85%;
    height: 350px;
}

.botao-projeto{
    width: 40%;
}

.h1-projetos{
    margin-top: 50px;
}

.texto-projeto{
    margin-top: 7%;
}

}

@media (max-width: 400px){
    .projeto{
        height: 300px;
    }
}