/* CONTATO */
.section-contato {
	& {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 100px;
	}

	h1 {
		margin-top: 50px;
	}
}

.divFormAside {
	display: flex;
	margin-top: 100px;
	gap: 200px;
}

form {
	& {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	& > * {
		width: 500px;
		height: 60px;
		margin-bottom: 20px;
		background-color: transparent;
		border: 1px solid $primary-color;
		border-radius: 10px;
		color: $secondary-color;
		font-size: 15px;
	}

	& input,
	& textarea {
		padding-left: 10px;
		outline: none;
	}

	& textarea {
		padding-top: 15px;
	}

	& input::placeholder,
	& textarea::placeholder {
		color: $primary-color;
	}

	& button {
		width: 200px;
		background-color: $primary-color;
		color: black;
		cursor: pointer;
	}
}

.div-SocialMedia {
	width: 200px;
}

.socialMedia {
	& {
		background-color: $primary-color;
		height: 200px;
		width: 300px;
		border-radius: 20px;
		text-align: center;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	& > * {
		color: rgb(0, 0, 0);
		margin-bottom: 5px;
		font-size: 15px;
	}
}

.div-SocialMedia i {
	font-size: 30px;
}

.div-linkSocial {
	margin-top: 20px;
}

#linkSocial {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: 700;
}
