@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bgColor: theme("colors.bgColor");
	--textColor: theme("colors.textColor");
}

a {
	cursor: pointer;
}

html {
	scroll-behavior: smooth;
}

@media (max-width: 385px) {
	#Home a,
	#project a {
		font-size: 12px !important;
	}
}

body {
	background-color: var(--bgColor);
	color: var(--textColor);
}

nav {
	z-index: 50;
}
