@media (max-width: 1200px) {
	.project {
		& {
			width: 300px;
			height: 300px;
		}

		.div-botao-project a {
			width: 125px;
		}
	}
}

@media (max-width: 1050px) {
	.project {
		& {
			width: 250px;
			height: 250px;
		}

		.div-botao-project a {
			width: 100px;
			height: 40px;
			padding: 5px;
		}

		.verProjeto {
			font-size: 0.8rem;
		}
	}

	.divFormAside {
		flex-direction: column-reverse;
	}

	.div-SocialMedia {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}

@media (max-width: 900px) {
	.divAbout {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.project-container {
		grid-template-columns: 1fr;
	}

	.project {
		width: 400px;
		height: 340px;
	}

	.verProjeto {
		font-size: 14px;
	}

	.h1-projects {
		margin-bottom: 50px;
	}

	.mySkills {
		margin-bottom: 30px;
	}
	.skills {
		margin-top: 80px;
	}
}

@media (max-width: 850px) {
	.skills {
		width: 100%;
	}
}

@media (max-width: 700px) {
	/*About Me*/

	.divImg {
		width: 80%;
	}

	.sideIcons {
		left: 15px;
		display: none;
	}

	.sideIcons img {
		width: 25px;
	}

	.skillList {
		width: 85%;
		gap: 40px;
	}
}

@media (max-width: 600px) {
	.divFormAside {
		& {
			width: 100%;
			justify-content: center;
			align-items: center;
			display: flex;
			gap: 120px;
		}

		form {
			width: 85%;
			align-items: center;
		}

		input,
		textarea {
			width: 100%;
		}

		button {
			width: 50%;
			height: 50px;
		}
	}

	.div-SocialMedia {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.skills {
		height: 400px;
		gap: 20px;
	}

	.skillList {
		padding: 5%;
	}

	.skills li img {
		width: 70px;
	}

	.myProjects {
		margin-top: 150px;
	}

	.h1-projects {
		margin-top: 40px;
	}
}

@media (max-width: 500px) {
	/*About Me*/
	.aboutMe {
		margin-top: 60px;
	}
	.txtAndSkills {
		width: 85%;
	}
	.txtAndSkills P {
		width: 100%;
	}
	.sideIcons {
		display: none;
	}
	header {
		height: 700px;
	}
	header .divButton {
		width: 300px;
	}
	.divButton a {
		font-size: 12px;
	}
	.skills {
		width: 100%;
	}
	.skillList {
		width: 85%;
	}
	.divImgAbout {
		width: 85%;
	}
	/*Meus Projetos*/
	.project-container {
		width: 100%;
		place-items: center;
	}
	.myProjects {
		margin-top: 40px;
	}
	.project {
		width: 85%;
		height: 350px;
	}
	.botao-project {
		width: 40%;
		margin-bottom: 2.5%;
	}
	.text-project {
		margin-top: 5%;
	}
}
@media (max-width: 450px) {
	.project-container {
		width: 100%;
	}
	.project {
		width: 85%;
		height: 350px;
	}
	.botao-project {
		width: 40%;
	}
	.skillList {
		column-gap: 25px;
		row-gap: 25px;
	}
	.mySkills {
		width: 85%;
	}
}

@media (max-width: 400px) {
	.project {
		height: 300px;
	}

	.text-project {
		margin-top: 5px;
	}
}
