@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;800&display=swap");

* {
	transition: 0.2s;
	font-family: "Montserrat", sans-serif;
}

input,
textarea {
	color: white;
}
